div
{
    .category
    {
        border: 0px solid;
        border-radius: 7px;
        float: left;
        text-align: left;
        width: -webkit-calc(80%);
        width: calc(80%);
        background: rgba(227,222,222,0.5);
        padding: 10px 5px 10px 20px;
        box-shadow: 5px 5px 2px #888888;
        margin: 5px 10% 5px 10%;
        font-size: 12px;
        h3 {
            margin: 0px;
        }
    }
    .category:hover
    {
        width: -webkit-calc(82%);
        width: calc(82%);
        padding: 11px 5px 11px 21px;
    }
}
